@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-size: 18px;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

ul.form-layout {
  list-style: none;
}

.required-field {
  color: red;
  vertical-align: super;
  font-size: 70%;
}

.form-error {
  border: 2px solid red;
}

table#form-topics {
  text-align: center;
}
