body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
  color: #404040;
}

div.footer {
    padding: 20px 5px;
    color: #444;
    overflow: hidden;
}

div.footer div.copyright {
    float: right;
}

div.footer a.rosedu-logo {
    display: inline-block;
    margin-top: 50px;
}

a {
  color: #0069D6;
  text-decoration: none;
}

a:hover {
  color: #00438A;
  text-decoration: underline;
}

h1 {
  color: #606060;
  border-bottom: 1px solid #CCC;
  margin: 30px 0;
}

form.signup {
  display: inline-block;
  margin: 10px 30px;
  padding: 0 20px;
  background: #f0f8ff;
  border: 2px solid #e0f0f0;
}

ul.form-layout {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.form-layout > li {
  margin: 10px;
}

form.signup table#form-topics th {
  text-align: left;
  line-height: 1;
  padding: 3px 0;
}

form.signup table#form-topics td {
  text-align: center;
  padding: 0 10px;
  position: relative;
  width: 130px;
}

form.signup table#form-topics td label {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

form.signup table#form-topics td label input {
  font-size: 30px;
}

form.signup input[type=submit] {
  font-size: 30px;
}

.form-error {
  border: 2px solid red;
}
