<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<p>
  Workshop-uri ținute de oameni tineri și deschiși care lucrează în
  domeniul web.
</p>

<form action="/signup" method="post" name="signup">

  <table>

    <thead>
      <th></th>
      <td>Știu</td>
      <td>Vreau să învăț</td>
    </thead>

    {% for topic in topics %}
    <tr>
      <th>{{ topic }}</th>
      <td><input type="checkbox" name="form-topic-stiu"
                 value="{{ topic|lower }}"></td>
      <td><input type="checkbox" name="form-topic-vreau"
                 value="{{ topic|lower }}"></td>
    </tr>
    {% endfor %}

  </table>

  <label for="form-sunt">Sunt:</label>
  <select id="form-sunt" name="sunt">
    <option value="elev">elev</option>
    <option value="student">student</option>
    <option value="etc">absolvent, etc</option>
  </select>

  <div id="form-student-extra" style="display: none;">
    <label for="form-facultate">Facultate</label>
    <input id="form-facultate" name="facultate">

    <label for="form-an">An</label>
    <input id="form-an" name="an">
  </div>

  <label for="form-email">Adresa de email:</label>
  <span class="required-field">*</span>
  <input id="form-email" name="email">

  <input type="submit" value="Vreau!">

</form>

<script>
$('#form-sunt').change(function(evt) {
  var value = $(this).val();
  var extra = $('#form-student-extra');
  if(value == 'student') {
    extra.show();
  }
  else {
    extra.hide();
  }
});
$('form[name=signup]').submit(function(evt) {
  var email_field = $('#form-email');
  var match = email_field.val().match(/^\S+@\S+\.\S+$/);
  if(match == null) {
    evt.preventDefault();
    email_field.addClass('form-error');
  }
});
</script>

</body>
</html>
