<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <title></title>
</head>

<body>

<p>
  Workshop-uri ținute de oameni tineri și deschiși care lucrează în
  domeniul web.
</p>

<form action="/signup" method="post">

  <table>

    <thead>
      <th></th>
      <td>Știu</td>
      <td>Vreau să învăț</td>
    </thead>

    {% for topic in topics %}
    <tr>
      <th>{{ topic }}</th>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
    </tr>
    {% endfor %}

  </table>

  <label for="form-sunt">Sunt:</label>
  <select id="form-sunt">
    <option>elev</option>
    <option>student</option>
    <option>absolvent, etc</option>
  </select>

  <div id="form-student-extra">
    <label for="form-facultate">Facultate</label>
    <input id="form-facultate">

    <label for="form-an">An</label>
    <input id="form-an">
  </div>

  <label for="form-email">Adresa de email:</label>
  <input id="form-email" name="email">

  <input type="submit" value="Vreau!">

</form>

</body>
</html>
