<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<p>
  {{ greeting|safe }}
</p>

<form action="/signup" method="post" name="signup">

<ul class="form-layout">
  <li>
    <p>
    <table>
      <thead>
	<td></td>
        {% for col in cols %}
	<th>{{ col }}</th>
        {% endfor %}
      </thead>

      {% for line in lines %}
      <tr>
        <th>{{ line }}</th>
	{% for col in cols %}
        <td><input type="checkbox" name="form-{{ col|lower }}"
                   value="{{ line|lower }}"></td>
	{% endfor %}
      </tr>
      {% endfor %}
    </table>
    </p>
  </li>

  <li>
    <label for="form-sunt">Sunt:</label>
    <select id="form-sunt" name="sunt">
      {% for profile in profiles.keys() %}
      <option value="{{ profile|lower }}">{{ profile }}</option>
      {% endfor %}
    </select>
  </li>

  {% for (k, v) in profiles.items() %}
  <li id="form-{{ k|lower }}-extra" style="display: none;">
    {% for i in range(2) %}
    <label for="form-{{ v[i]|lower }}">{{ v[i] }}</label>
    <input id="form-{{ v[i]|lower }}" name="{{ v[i]|lower }}">
    {% endfor %}
  </li>
  {% endfor %}

  <p>
  {% for (k, v) in contact.items() %}
  <li>
    <label for="form-{{ k|lower }}">{{ v }}</label>
    <span class="required-field">*</span>
    <input id="form-{{ k|lower }}" name="{{ k|lower }}">
  </li>
  {% endfor %}
  </p>

  <li>
    <input type="submit" value="{{ submit }}">
  </li>
</form>

<p>
  {{ followup|safe }}
</p>

<script src="static/functions.js"></script>
<script>
// Hack to make the default select display...
$('#form-' + $('#form-sunt')[0].value + '-extra').show()

// When selection changed, change shown fields
$('#form-sunt').change(function(event) {
  expandSelected(event, '#form-sunt')
});

// Primitive field validation
$('form[name=signup]').submit(function(event) {
  validateField(event, '#form-email', /^\S+@\S+\.\S+$/);
  if ($('#form-phone') != [])
    validateField(event, '#form-phone', /07\d{8}$/);
});
</script>

</body>
</html>
