<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
  <style>li.sunt-extra { display: none; }</style>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<p style="color: red; border: 2px dashed red; padding: 10px; font-size: 20px;">
  Pagină în lucru. Rog testați și dați feedback pe lista rosedu-general.
</p>

{% block content %}
{% endblock %}

{% if config['GOOGLE_ANALYTICS_CODE'] %}
<script>
var _gaq=[['_setAccount', "{{ config['GOOGLE_ANALYTICS_CODE'] }}"],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% endif %}

</body>
</html>
